/* AboutUs.css */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    max-width: 1500px;
    margin: 400px 0 100px 0;
    padding: 20px;
    text-align: center;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    div{
        padding-top:50px;
    }
}

h1 {
    color: #333;
    font-size: 2.5em;
    padding-bottom: 20px; /* Increased margin-bottom for more spacing */
}

h4 {
    padding-top:50px;
    color: #666;
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 40px;
}

.Mahmoud, .Aya, .Saja, .Abdullah, .Ragad {
    display: inline-block;
    width: 150px;
    margin: 10px;
    text-align: center;
}

.developersImages {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid #ddd;
    transition: transform 0.3s, box-shadow 0.3s;
}

.developersImages:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h6 {
    font-size: 1em;
    color: #555;
    margin-top: 10px;
}

/* Responsive adjustments */
@media (max-width: 600px) {
    .developersImages {
        width: 80px;
        height: 80px;
    }

    h1 {
        font-size: 2em;
    }

    h4 {
        font-size: 1em;
    }

    .Mahmoud, .Aya, .Saja, .Abdullah, .Ragad {
        width: 100%;
        margin: 20px 0;
    }
}
