/* NavBar.css */
.header {
  background-color: #fff;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 100;
}

.header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.header li {
  margin: 0 0.2rem;
  display: flex;
  align-items: center;
}

.header img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}


.add-kitten-button {
  background-color: #ff4081;
  color: white;
  border: none;
  padding: 1rem 1rem;
  border-radius: 25px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  position: relative;
  overflow: hidden;
}

.add-kitten-button:hover {
  background-color: #e03071;
}

.add-kitten-button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -30px;
  /* Start position of the cat image */
  width: 40px;
  /* Width of the cat image */
  height: 40px;
  /* Height of the cat image */
  background-image: url('./cartoonFlip.png');
  /* Path to your cat image */
  background-size: cover;
  background-repeat: no-repeat;
  transform: translateY(-50%);
  transition: left 0.3s ease;
}

.add-kitten-button:hover::before {
  left: -10px;
  /* End position of the cat image */
}

#AboutUs {
  font-size: 20px;
  background-color: #fff;
  color: #000;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  border: 1px solid #FF4081;
  border-radius: 25px;
  position: absolute;
  top: 17%;
  left: 1700px;
}

#AboutUs:hover{
  background-color: #FF4081;
  color:white;
  border-radius: 25px;
}