
/* Footer css */

.footer {
  border: 1px solid #ff4081;
  background-color:#F5F5F5;
  color: #ff4081;
  padding: 40px 0;
  text-align: center;
  div{
    display: inline;
  }
  img{
    border-radius: 30px;
  }
  img:hover{
    opacity: 60%;
    background-color: #ff4081;
  }
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-nav, .footer-social {
  margin: 20px 0;
}

.footer-nav a, .footer-social a {
  color: #ecf0f1;
  text-decoration: none;
  margin: 0 15px;
  transition: color 0.3s;
}

.footer-nav a:hover, .footer-social a:hover {
  color: #ff4081;
}

.footer-social a {
  font-size: 24px;
}

.footer-text {
  margin: 20px 0;
  font-size: 14px;
}

.back-to-top {
  margin-top: 20px;
  margin-left:20px;
  padding: 10px 20px;
  background-color: #ff4081;
  color: #ecf0f1;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.back-to-top:hover {
  background-color: #ff4080ab;
}

/* Responsive design */
@media (max-width: 768px) {
  .footer-nav, .footer-social {
    flex-direction: column;
  }

  .footer-nav a, .footer-social a {
    margin: 10px 0;
  }
}

  